{% load shop_tags %}
{% load static %}
<div class="header__bar">
    <a href="#!" class="nav__bars-open">
        <span class="burger"></span>
        <span class="burger"></span>
        <span class="burger"></span>
    </a>

    <a href="{% url 'index' %}" class="logo">
        <img src="{% static 'shop/assets/icons/logoo.png' %}" alt="logo" height="40px" width="80px">
    </a>
    <form class="header__search" role="search" method="get" action="{% url 'search' %}">
        <i class="fal fa-search"></i>
        <input type="text" name="q" class="header__search-txt" placeholder="Поиск">
    </form>

    <ul class="header__list">
        <li>
            <a href="./registration.html" class="header__list-item _truck">
                <i class="far fa-truck"></i>
                Доставка
            </a>
        </li>
        {% if request.user.is_authenticated %}
        <li>
            <a href="{% url 'my_favorite' %}" class="header__list-item" id="_heart">
            </a>
        </li>
        <li>
            <a href="{% url 'cart' %}" class="header__list-item" id="_bag">

            </a>
        </li>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li>
            <a href="{% url 'profile_edit' %}" class="header__list-item" id="_profile"></a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'login_register' %}" class="header__list-item" id="_profile"></a>
        </li>
        {% endif %}
    </ul>
</div>
<ul class="header__list _categories">
    {% get_categories as categories %}
    {% for category in categories %}
    <li>
        <a href="{{ category.get_absolute_url }}" class="header__list-links">
                                <span class="header__list-img">
                                    {% if category.image %}
                                    <img src="{{ category.image.url }}" alt="icons" width="24" height="24">
                                    {% else %}
                                    {% endif %}
                                </span>
            {{ category.title }}
        </a>
    </li>
    {% endfor %}
</ul>